{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Login</h1>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.username.label }}
                    {{ form.username(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.password.label }}
                    {{ form.password(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.remember_me() }}
                    {{ form.remember_me.label }}
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>
        </div>
    </div>
</div>
{% endblock %}
